<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ template "styles" }}
    <title>我的博客 - 归档</title>
</head>
<body>
<section class="main-container">
    {{ template "sidebar" . }}
    {{ template "searchPanel" }}

    <section class="main-content">
        <div class="main-content__inner archives bs-2 br-6">
            <p>归档</p>
            
            <ul class="archive-list">
                <li>
                    <h4>2018年</h4>
                    <ul>
                        <li class="item"><a href=""><em>7月5号</em> 第一博文</a></li>
                        <li class="item"><a href=""><em>7月5号</em> 第一博文</a></li>
                        <li class="item"><a href=""><em>7月5号</em> 第一博文</a></li>
                        <li class="item"><a href=""><em>7月5号</em> 第一博文</a></li>
                        <li class="item"><a href=""><em>7月5号</em> 第一博文</a></li>
                    </ul>
                </li>
                <li>
                    <h4>2017年</h4>
                    <ul>
                        <li class="item"><a href=""><em>7月5号</em> 第一博文</a></li>
                        <li class="item"><a href=""><em>7月5号</em> 第一博文</a></li>
                        <li class="item"><a href=""><em>7月5号</em> 第一博文</a></li>
                        <li class="item"><a href=""><em>7月5号</em> 第一博文</a></li>
                        <li class="item"><a href=""><em>7月5号</em> 第一博文</a></li>
                    </ul>
                </li>
                <li>
                    <h4>2016年</h4>
                    <ul>
                        <li class="item"><a href=""><em>7月5号</em> 第一博文</a></li>
                        <li class="item"><a href=""><em>7月5号</em> 第一博文</a></li>
                        <li class="item"><a href=""><em>7月5号</em> 第一博文</a></li>
                        <li class="item"><a href=""><em>7月5号</em> 第一博文</a></li>
                        <li class="item"><a href=""><em>7月5号</em> 第一博文</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
</section>
{{ template "scripts" }}
</body>
</html>
