<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ template "styles" }}
    <title>我的博客 - 归档</title>
</head>
<body>
<section class="main-container">
    {{ template "sidebar" . }}
    {{ template "searchPanel" }}

    <section class="main-content">
        <div class="main-content__inner archives bs-2 br-6">
            <p>归档</p>

            <ul class="archive-list">
                {{ range .DateLine }}
                    <li>
                        <h4>{{ .YearAt }}年{{ .MonthAt }}月</h4>
                        <ul>
                            {{ range .Articles }}
                                <li class="item article-list">
                                    <a href="/articles/{{ .ID }}">
                                        {{ .Title }} <em>({{ .CreatedAt.Format "2006-01-02" }})</em>
                                    </a>
                                </li>
                            {{ end }}
                        </ul>
                    </li>
                {{ end }}
            </ul>
        </div>
    </section>
</section>
{{ template "scripts" }}
</body>
</html>
