<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ template "styles" }}
    <title>我的博客 - 留言板</title>
</head>
<body>
<section class="main-container">
    {{ template "sidebar" . }}

    <section class="main-content">
        <div class="main-content__inner message-board br-6 bs-2">
            <p>留言板</p>
        </div>
    </section>
</section>

{{ template "scripts" }}
</body>
</html>
