<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ template "links" }}
    <title>我的博客 - 标签</title>
</head>
<body>
<section class="main-container">
    {{ template "sidebar" . }}
    {{ template "searchPanel" }}

    <section class="main-content">
        <div class="main-content__inner tags br-6 bs-2">
            <p>标签 - {{ .TagName }}</p>
            <ul class="article-list">
                {{ if .Articles }}
                    {{ range .Articles }}
                        <li>
                            <a href="/articles/{{ .ID }}">
                                {{ .Title }} <em>({{ .CreatedAt.Format "2006-01-02" }})</em>
                            </a>
                        </li>
                    {{ end }}
                {{ else }}
                    <li>作者还没有开始写相关的文章哦···</li>
                {{ end }}
            </ul>
        </div>
    </section>
</section>

{{ template "scripts" }}
</body>
</html>
