<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ template "styles" }}
    <title>我的博客 - 标签</title>
</head>
<body>
<section class="main-container">
    {{ template "sidebar" . }}
    {{ template "searchPanel" }}

    <section class="main-content">
        <div class="main-content__inner tags br-6 bs-2">
            <p>{{ .TagName }}</p>
            <ul class="article-list">
                {{ if .Articles }}
                    {{ range .Articles }}
                        <li>
                            <em class="date">{{ .YearAt }}-{{ .MonthAt }}-{{ .DayAt }}</em>
                            <a class="title" href="/articles/{{ .ID }}">{{ .Title }}</a>
                        </li>
                    {{ end }}
                {{ else }}
                    <li>作者还没有开始写相关的文章哦···</li>
                {{ end }}
            </ul>
        </div>
    </section>
</section>

{{ template "scripts" }}
</body>
</html>
