<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>我的博客 - 标签</title>
</head>
<body>
<section class="main-container">
    {{ template "sidebar" . }}

    <section class="main-content">
        <div class="main-content__inner tags br-6 bs-2">
            <p>标签云</p>
            <ul class="tag-list">
                <li><a href="">标签一</a></li>
                <li><a href="">标签二</a></li>
                <li><a href="">标签三</a></li>
                <li><a href="">标签四</a></li>
                <li><a href="">标签五</a></li>
                <li><a href="">标签六</a></li>
                <li><a href="">标签七</a></li>
                <li><a href="">标签八</a></li>
                <li><a href="">标签九</a></li>
                <li><a href="">标签十</a></li>
            </ul>
        </div>
    </section>
</section>

<script src="static/js/main.js"></script>
</body>
</html>
