<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{ template "links" }}

    <title>我的博客 - 分类</title>
</head>
<body>
<section class="main-container">
    {{ template "sidebar" . }}
    {{ template "searchPanel" }}

    <section class="main-content">
        <div class="main-content__inner categories br-6 bs-2">
            <p>分类</p>
            <ul class="category-list">
                {{ if .CategoryList }}
                    {{ range .CategoryList }}
                        <li><a href="/categories/{{ .Name }}">{{ .Name }}（ {{ len .Articles }} ）</a></li>
                    {{ end }}
                {{ else }}
                    <li>暂无分类</li>
                {{ end }}
            </ul>
        </div>
    </section>
</section>

{{ template "scripts" }}
</body>
</html>
