<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>我的博客 - 分类</title>
</head>
<body>
<section class="main-container">
    {{ template "sidebar" . }}

    <section class="main-content">
        <div class="main-content__inner articles br-6 bs-2">
            <p>文章分类</p>
            <ul class="category-list">
                <li><a href="">分类一（11）</a></li>
                <li><a href="">分类二（1）</a></li>
                <li><a href="">分类三（0）</a></li>
                <li><a href="">分类四（8）</a></li>
                <li><a href="">分类五（5）</a></li>
            </ul>
        </div>
    </section>
</section>

<script src="static/js/main.js"></script>
</body>
</html>
