/* reset
---------------------------------------------- */
body, h1, h2, h3, h4, p, ul, li {
    margin: 0; padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
html * {
    box-sizing: border-box;
}
ol li {
    list-style: none;
}

/* common
---------------------------------------------- */
.br-6 {
    border-radius: 6px;
}
.bs-2 {
    box-shadow: 1px 1px 2px #ccc;
    transition: .3s all;
}
.tag {
    color: rgba(0,0,0,.9);
    font-family: 'Roboto Mono', Monaco, courier, monospace;
    font-size: 0.8em;
    display: inline-block;
    background-color: #f8f8f8;
    padding: 3px 5px;
    margin: 0 3px 0 0;
    border-radius: 2px;
    white-space: nowrap;
}
.category {
    display: inline-block;
    font-size: 0.8em;
    color: rgba(0,0,0,.9);
    font-family: 'Roboto Mono', Monaco, courier, monospace;
}
html, body, .main-container {
    height: 100%;
}
body {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    background: #f5f5f5;
    color: #333;
    overflow: hidden;
}
.main-container {
    max-width: 1120px;
    margin: 0 auto;
}
.main-content {
    padding: 80px 0 0 216px;
    width: 100%;
    height: 100%;
}
.main-content__inner {
    width: 100%;
    min-height: 409px;
    padding: 24px;
    margin-bottom: 24px;
    background: #fff;
}

/* sidebar
---------------------------------------------- */
.main-sidebar {
    position: fixed;
    top: 80px;
    width: 192px;
    padding: 20px 0;
    background: #fff;
}
.main-sidebar:hover img {
    transform: scale(1.1);
}
.main-sidebar .avatar {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border-radius: 45px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 4px #000;
    transition: .3s box-shadow;
}
.main-sidebar .avatar:hover {
    box-shadow: 0 0 10px #000;
}
.main-sidebar .avatar img {
    width: 100%;
    height: 100%;
    transition: .3s transform;
}
.main-sidebar .username {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: rgba(0, 0, 0, .9);
}
.main-sidebar .in-a-word {
    font-size: 12px;
    padding: 0 10px;
    margin-top: 12px;
    text-align: center;
}
.main-sidebar .search {
    margin: 20px 0;
    padding: 0 20px;
    text-align: center;
}
.main-sidebar .search input {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
}
.main-sidebar .menu {
    text-align: center;
}
.main-sidebar .menu li {
    display: inline-block;
    font-size: 13px;
}
.main-sidebar .menu em {
    display: block;
    font-style: normal;
}
.main-sidebar .menu a {
    color: #888;
}
.main-sidebar .menu--horizontal {
    margin-top: 16px;
}
.main-sidebar .menu--horizontal li {
    border-right: 1px solid #ccc;
}
.main-sidebar .menu--horizontal a {
    display: block;
    padding: 0 10px;
    font-weight: 500;
    transition: .3s all;
}
.main-sidebar .menu--horizontal li:last-child {
    border-right: 0;
}
.main-sidebar .menu--horizontal a:hover,
.main-sidebar .menu--horizontal a.active {
    color: #000;
    font-weight: 600;
}
.main-sidebar .menu--vertical {
    margin-top: 10px;
}
.main-sidebar .menu--vertical li {
    width: 100%;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    letter-spacing: 2px;
}
.main-sidebar .menu--vertical a {
    display: inline-block;
    width: 100%;
    transition: .4s all ease-in-out;
}
.main-sidebar .menu--vertical a:hover,
.main-sidebar .menu--vertical a.active {
    background: #91ccff;
    color: #fff;
}

/* home
---------------------------------------------- */
.main-content__inner.home {
    padding: 0;
    background: none;
}
.main-content__inner .article-item {
    padding: 24px;
    margin-bottom: 20px;
    background: #fff;
    overflow: hidden;
}
.main-content__inner .article-item:hover {
    box-shadow: 1px 1px 20px #ccc;
}
.main-content__inner .article-item h3 {
    font-weight: 500;
    font-size: 18px;
}
.main-content__inner .article-item h3 a {
    color: rgba(0, 0, 0, .9);
}
.main-content__inner .title-bottom {
    margin: .6em 0;
    font-family: Georgia, serif;
    font-size: 13px;
    color: #7f8c8d;
}
.main-content__inner .article-item .content {
    display: flex;
}
.main-content__inner .article-item .desc {
    text-indent: 2em;
    font-size: 15px;
    margin: 8px 0;
    flex: 1;
}
.main-content__inner .article-item .image {
    width: 200px;
    height: 80px;
    margin-left: 20px;
    overflow: hidden;
}
.main-content__inner .article-item .image img {
    width: 100%;
    transition: .3s transform;
}
.main-content__inner .article-item .image img:hover {
    transform: scale(1.1);
}
.main-content__inner .article-item .button {
    font-size: 14px;
    float: right;
}
.main-content .pagination {
    position: relative;
}
.main-content .article-prev,
.main-content .article-next {
    position: absolute;
    color: #0e83cd;
    margin-bottom: 24px;
    text-decoration: none;
    font-weight: bold;
    font-family: Muli, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    text-transform: uppercase;
}
.main-content .article-prev {
    left: 0;
}
.main-content .article-next {
    right: 0;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.fa-chevron-left:before {
    content: "\f053";
}

/* categories
---------------------------------------------- */
.main-content__inner .category-list {
    margin-top: 30px;
    padding-left: 10px;
}
.main-content__inner .category-list li {
    display: inline-block;
    font-size: 14px;
    margin: 0 10px;
}
.main-content__inner .category-list a {
    display: block;
    color: #333;
}
.main-content__inner .category-list a:hover {
    text-decoration: underline;
}

/* tags
---------------------------------------------- */
.main-content__inner .tag-list {
    margin-top: 30px;
    padding-left: 10px;
}
.main-content__inner .tag-list li {
    display: inline-block;
    font-size: 14px;
    margin: 0 10px;
}
.main-content__inner .tag-list a {
    display: block;
    color: #333;
    font-family: FreeSans, Arimo, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif;
    font-size: 14px;
}
.main-content__inner .tag-list a:hover {
    color: aquamarine;
}

/* category -> article-list
   tag --> article-list
---------------------------------------------- */
.main-content__inner .article-list {
    margin-top: 24px;
    line-height: 1.6;
    color: #888888;
}
.main-content__inner .article-list .date {
    display: inline-block;
    width: 80px;
    font-style: normal;
    margin-right: 20px;
    font-size: 16px;
    font-family: Georgia, serif;
}

.main-content__inner .article-list .title {
    color: #888888;
}
.main-content__inner .article-list .title:hover {
    color: #2196F3;
}

/* archive
---------------------------------------------- */
.main-content__inner .archive-list {
    margin-top: 20px;
    padding-left: 10px;
    font-family: Georgia, serif;
    color: #7f8c8d;
}
.main-content__inner .archive-list > li {
    margin: 0 10px;
}
.main-content__inner .archive-list h4 {
    font-size: 20px;
    margin: 10px 0;
}
.main-content__inner .archive-list .item {
    padding-left: 20px;
}
.main-content__inner .archive-list a {
    display: inline-block;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
}
.main-content__inner .archive-list a:hover {
    color: #2196F3;
}
.main-content__inner .archive-list em {
    font-style: normal;
    display: inline-block;
    width: 80px;
}

/* articles
---------------------------------------------- */
.main-content__inner.article {
    font-size: 15px;
    line-height: 1.6;
}
.main-content__inner .article-detail h2 {
    color: #888888;
    font-weight: 500;
}
.main-content__inner .article-detail .title-bottom {
    font-size: 14px;
    margin-bottom: 20px;
}
.main-content__inner .article-detail .image {
    width: 100%;
    max-height: 360px;
    margin: 0 0 20px;
    overflow: hidden;
}
.main-content__inner .article-detail .image img {
    width: 100%;
}
.main-content__inner .article-detail .content {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #cccccc;
}
.main-content__inner .markdown-body .tag {
    color: #008;
    font-family: inherit;
    font-size: inherit;
    display: inherit;
    background-color: transparent;
    padding: inherit;
    margin: inherit;
    border-radius: 0;
}
.main-content__inner .markdown-body {
    padding: 0;
}

/* about
---------------------------------------------- */
.main-content__inner.about .introduce {
    font-family: Georgia, serif;
    margin-top: 24px;
    line-height: 1.4;
}

.main-content__inner.about .introduce p {
    line-height: 1.5;
    font-size: 15px;
}

/* search-panel
---------------------------------------------- */
.search-panel {
    display: none;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
}
.search-panel__inner {
    margin: 100px auto 0;
    width: 40%;
    min-height: 40px;
    max-height: 400px;
    min-width: 300px;
    background: #fff;
    border-left: 5px solid #78887d;
}
.search-input {
    width: 100%;
    position: relative;
}
.search-input .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url(/static/images/icon_close.png) no-repeat center / 60%;
}
.search-input__inner {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    outline: none;
    border: none;
    text-align: left;
    font-size: 18px;
}
.search-result {
    background: #e2e2e2;
    max-height: 360px;
    overflow: hidden;
}
.search-result__item {
    height: 40px;
    line-height: 40px;
}
.search-result__item a {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 20px;
    color: #9a9a9a;
    font-family: sans-serif;
    font-size: 15px;
    transition: .3s all;
}
.search-result__item a:hover {
    background-color: #91ccff;
    color: #fff;
}