<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>我的博客</title>
</head>
<body>
    <section class="main-container">
        {{ template "sidebar" }}

        <section class="main-content">
            主要内容
        </section>
    </section>

    <script src="static/js/main.js"></script>
</body>
</html>
