<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{ template "links" }}

    <title>我的博客 - 关于我</title>
</head>
<body>
<section class="main-container">
    {{ template "sidebar" . }}
    {{ template "searchPanel" }}

    <section class="main-content">
        <div class="main-content__inner about bs-2 br-6">
            <p>关于我</p>
            <div class="introduce">
                <p>本人名叫郑必文，web前端开发，坐标杭州。</p>
                <p>希望自己越来越好。哈哈。。。</p>
                <br>
                <p>有什么需要指正的要联系我，一起加油。。。</p>
                <p>qq: 1317812522</p>
                <p>github: <a target="_blank" href="https://github.com/web-zbw">https://github.com/web-zbw</a></p>
            </div>
        </div>
    </section>
</section>

{{ template "scripts" }}
</body>
</html>
