{{ define "searchPanel" }}
<section class="search-panel js-search-panel">
    <section class="search-panel__inner">
        <div class="search-input">
            <input class="search-input__inner js-search-input" type="text" placeholder="你想要看什么？" >
            <i class="close js-close"></i>
        </div>
        <ul class="js-search-result search-result">
            <li style="padding: 0 20px;" class="search-result__item">抱歉，该博主没有相关的文章</li>
            <li class="search-result__item"><a href="">第一条搜索结果</a></li>
            <li class="search-result__item"><a href="">第一条搜索结果</a></li>
            <li class="search-result__item"><a href="">第一条搜索结果</a></li>
            <li class="search-result__item"><a href="">第一条搜索结果</a></li>
            <li class="search-result__item"><a href="">第一条搜索结果</a></li>
            <li class="search-result__item"><a href="">第一条搜索结果</a></li>
            <li class="search-result__item"><a href="">第一条搜索结果</a></li>
            <li class="search-result__item"><a href="">第一条搜索结果</a></li>
            <li class="search-result__item"><a href="">第一条搜索结果</a></li>
            <li class="search-result__item"><a href="">第一条搜索结果</a></li>
            <li class="search-result__item"><a href="">第一条搜索结果</a></li>
            <li class="search-result__item"><a href="">第一条搜索结果</a></li>
            <li class="search-result__item"><a href="">第一条搜索结果</a></li>
            <li class="search-result__item"><a href="">第一条搜索结果</a></li>
            <li class="search-result__item"><a href="">第一条搜索结果</a></li>
            <li class="search-result__item"><a href="">第一条搜索结果</a></li>
        </ul>
    </section>
</section>
{{ end }}