{{ define "sidebar" }}
<section class="main-sidebar br-6 bs-2">
    <div class="avatar">
        <img src="/static/images/avatar.jpg" alt="头像">
    </div>
    <div class="username">zhengbiwen</div>
    <p class="in-a-word">就这样，抬头看天空。</p>
    <p class="search">
        <input id="search-input" type="text" placeholder="你想要看什么？" readonly>
    </p>
    <ul class="menu menu--horizontal">
        <li>
            <a {{ if eq .Page "home" }}class="active"{{ end }} href="/">
                <em>{{ .ArticleCount }}</em>
                <span>文章</span>
            </a>
        </li>
        <li>
            <a {{ if eq .Page "category" }}class="active"{{ end }} href="/categories">
                <em>{{ .CategoryCount }}</em>
                <span>分类</span>
            </a>
        </li>
        <li>
            <a {{ if eq .Page "tag" }}class="active"{{ end }} href="/tags">
                <em>{{ .TagCount }}</em>
                <span>标签</span>
            </a>
        </li>
    </ul>
    <ul class="menu menu--vertical">
        <li><a {{ if eq .Page "archive" }}class="active"{{ end }} href="/archives">归档</a></li>
        <li><a {{ if eq .Page "message-board" }}class="active"{{ end }} href="/message-board" style="cursor: not-allowed;" onclick="return false">留言板</a></li>
        <li><a {{ if eq .Page "about" }}class="active"{{ end }} href="/about">关于我</a></li>
    </ul>
</section>
{{ end }}